/*
=======================
    History Cards
=======================
*/

.history-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.history-card {
  width: 100%;
  background: var(--lightGrey);
  border-radius: 2rem;
  overflow: hidden;
}

.history-card button {
  width: 100%;
  display: flex;
  padding: 2rem;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
  border: none;
  outline: none;
  text-align: left;
  background: var(--mediumGrey);
}

.history-card button .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.history-card h3 {
  color: var(--feBlue);
  font-size: var(--font-md);
  font-weight: 600;
}

.history-card span {
  color: var(--darkGrey);
  font-size: var(--font-sm);
}
