.forgot-password {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forgot-password h2 {
  color: var(--feDarkBlue);
  font-size: var(--font-xl);
}

.forgot-password a {
  display: flex;
  align-items: center;
  color: var(--feBlue);
  font-size: var(--font-xl);
}