.relato {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  padding: 0;
  overflow: hidden;
}

.relato.blue {
  background: linear-gradient(180deg, var(--feBlue), var(--feDarkBlue));
}

.relato.green {
  background: linear-gradient(180deg, var(--feGreen), var(--feDarkGreen));
}